{% extends 'base.html' %} {% block content %} {% load static %}

<div class="flex sm:w-full justify-center p-4">
  {% if user.is_authenticated %}
  <div class="bg-white p-8 rounded shadow-md w-full md:w-1/2">
    <h2 class="text-center font-bold mb-4">
      Welcome to the MCC Team Management Tool!
    </h2>
    <div class="grid grid-cols-4 gap-4">
      <a class="text-center shadow-lg bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer" href="{% url 'positions' %}">Manage Positions</a>
      <a class="text-center shadow-lg bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer" href="{% url 'applicants' %}">Manage Applicants</a>
      <a class="text-center shadow-lg bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer" href="{% url 'candidates' %}">Manage Candidates</a>
      <a class="text-center shadow-lg bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer" href="{% url 'interviews' %}">Manage Interviews</a>
      <a class="text-center shadow-lg bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer" href="{% url 'offers' %}">Manage Offers</a>
    </div>
  </div>
  {% else %}
  <div class="bg-white p-8 rounded shadow-md w-96">
    <div class="flex items-center justify-center mb-4">
      <img
        src="{% static 'images/MCC_logo.webp' %}"
        alt="MCC Logo"
        class="mx-auto my-auto"
      />
    </div>

    <form method="POST" action="{% url 'admin-hub' %}">
      {% csrf_token %}
      <div class="mb-4">
        <label
          for="username"
          class="block text-sm font-medium text-MCC-primary-darkererer"
          >Username</label
        >
        <input
          type="text"
          id="username"
          name="username"
          class="mt-1 p-2 block w-full rounded-md border border-MCC-primary-darkerer"
          placeholder="Enter your username"
          required
        />
      </div>
      <div class="mb-4">
        <label
          for="password"
          class="block text-sm font-medium text-MCC-primary-darkererer"
          >Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="mt-1 p-2 block w-full rounded-md border border-MCC-primary-darkerer"
          placeholder="Enter your password"
          required
        />
      </div>
      <button
        type="submit"
        class="w-full bg-MCC-primary-darker text-white p-2 rounded-md hover:bg-MCC-primary-darkerer"
      >
        Login
      </button>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}
