{% extends 'base.html' %} {% block content %} {% load static %}

<div class="flex sm:w-full justify-center p-4">
  <div class="bg-white p-8 rounded shadow-md w-full">
    <h2 class="text-center font-bold">Welcome to your applications!</h2>
    <div class="bg-MCC-secondary-tint rounded w-full p-4">
      <span>Student ID: {{ student.studentID }}</span>
      <br />
      <span>First Name: {{ student.firstName }}</span>
      <br />
      <span>Last Name: {{ student.lastName }}</span>
      <br />
      <span>Email: {{ student.email }}</span>
      <br />
      <span>Phone Number: {{ student.phoneNumber }}</span>
      <br />
    </div>
    <br />
    <div class="overflow-scroll md:overflow-hidden">
      <table class="w-full border table-auto">
        <thead>
          <tr class="bg-MCC-secondary-tint">
            <th class="border border-MCC-primary p-2">Application ID</th>
            <th class="border border-MCC-primary p-2">
              Selected Position
            </th>
            <th class="border border-MCC-primary p-2">
              Experience
            </th>
            <th class="border border-MCC-primary p-2">Date Submitted</th>
            <th class="border border-MCC-primary p-2">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
          <tr class="bg-MCC-secondary-tintererer">
            <td class="border border-MCC-primary p-2">{{ submission.id }}</td>
            <td class="border border-MCC-primary p-2">
              {{ submission.selectedPositionID.name }}
            </td>
            <td class="border border-MCC-primary p-2">
              {{ submission.experience }}
            </td>
            <td class="border border-MCC-primary p-2">
              {{ submission.dateSubmitted }}
            </td>
            <td class="border border-MCC-primary p-2">{{ submission.candidate_status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
