{% extends 'base.html' %} {% block content %} {% load static %}

<div class="p-4 md:p-8">
  <h2 class="font-bold text-2xl text-white uppercase">
    My Applications Centre
  </h2>
  <div class="bg-white p-8 rounded shadow-md w-full">
    <div class="bg-MCC-secondary-tint rounded w-full p-4">
      <span>Student ID: {{ student.studentID }}</span>
      <br />
      <span>First Name: {{ student.firstName }}</span>
      <br />
      <span>Last Name: {{ student.lastName }}</span>
      <br />
      <span>Email: {{ student.email }}</span>
      <br />
      <span>Phone Number: {{ student.phoneNumber }}</span>
      <br />
    </div>
    <br />
    <div class="overflow-x-scroll md:overflow-hidden">
      <table class="w-full border table-auto">
        <thead>
          <tr class="bg-MCC-secondary-tint">
            <th class="text-center border border-MCC-primary p-2">Application ID</th>
            <th class="text-center border border-MCC-primary p-2">
              Selected Position
            </th>
            <th class="text-center border border-MCC-primary p-2">
              Experience
            </th>
            <th class="text-center border border-MCC-primary p-2">Date Submitted</th>
            <th class="text-center border border-MCC-primary p-2">Details</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
          <tr class="bg-MCC-secondary-tintererer">
            <td class="text-center border border-MCC-primary p-2">{{ submission.id }}</td>
            <td class="text-center border border-MCC-primary p-2">
              {{ submission.selectedPositionID.name }}
            </td>
            <td class="text-center border border-MCC-primary p-2">
              {{ submission.experience }}
            </td>
            <td class="text-center border border-MCC-primary p-2">
              {{ submission.dateSubmitted }}
            </td>
            {% if submission.candidate_status == "Interview" and submission.interviewID.status != "Scheduled" %}
            <script>
              showToast("Please give your interview availability for Application #{{ submission.id }}");
            </script>
            {% endif %}
            <td class="border border-MCC-primary p-2">
              {% if submission.candidate_status == "Interview" and submission.interviewID.status == "Scheduled" %}
                Location: {{ submission.interviewID.location }}<br>
                Date & Time: {{ submission.availability.dateTime }}
              {% elif submission.candidate_status == "Offered" %}
                {% if submission.offerID.status == "Pending" %}
                  <div>
                    <span class="w-full">
                      {{ submission.offerID.details }}
                    </span>
                    <div class="flex gap-2 mt-4">
                      <div class="w-1/2">
                        <form class="acceptForm">
                          <input type="hidden" name="offerID" value="{{ submission.offerID.id }}" />
                          {% csrf_token %}
                          <button
                            class="bg-MCC-secondary-tint rounded text-black shadow-xl p-4 w-full"
                            type="submit"
                            id="offerBtn"
                          >
                            Accept Offer
                          </button>
                        </form>
                      </div>
                      <div class="w-1/2">
                        <form class="rejectForm">
                          <input type="hidden" name="offerID" value="{{ submission.offerID.id }}" />
                          {% csrf_token %}
                          <button
                            class="bg-MCC-secondary-tint rounded text-black shadow-xl p-4 w-full"
                            type="submit"
                            id="offerBtn"
                          >
                            Reject Offer
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                {% elif submission.offerID.status == "Accepted" %}
                  <span>Offer was accepted.</span>
                {% elif submission.offerID.status == "Rejected" %}
                  <span>Offer was rejected.</span>
                {% elif submission.offerID.status == "Expired" %}
                  <span>Unfortunately, the offer has expired.</span>
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pl-4 pr-4 pb-4 md:pl-8 md:pr-8 md:pb-8">
  <h2 id="additionalInformationTitle{{interview.id}}" class="hidden font-bold text-2xl text-white uppercase">
    Interview
  </h2>
  <div id="additionalInformationTitle{{interview.id}}Container" class="flex overflow-x-scroll hidden">
    {% for submission in submissions %}
      {% if submission.candidate_status == "Interview" and submission.interviewID.status != "Scheduled" %}
        <script>
        document.addEventListener("DOMContentLoaded", function() {
            var additionalInformationTitle = document.getElementById("additionalInformationTitle{{interview.id}}");
            var additionalInformationContainer = document.getElementById("additionalInformationTitle{{interview.id}}Container");
            if (additionalInformationTitle) {
                additionalInformationTitle.classList.remove("hidden");
                additionalInformationContainer.classList.remove("hidden");
            }
        });
        </script>
        <div class="bg-white p-8 rounded shadow-md w-[300px] mr-8">
          <form class="availabilityForm">
            <input type="hidden" name="interviewID" value="{{ submission.interviewID.id }}" />
            <input type="hidden" name="old_student_id" value="{{ submission.studentID.studentID }}" />
            <input type="hidden" name="old_last_name" value="{{ submission.studentID.lastName }}" />
            {% csrf_token %}
            <h3 class="mb-4 text-center font-bold text-xl text-MCC-primary-darker uppercase">Application #{{ submission.id }}</h3>
            {% if submission.interviewID.requestMoreAvailability == True %}
              <div class="mb-4">
                <span class="w-full">The availabilities you previously submitted for this interview is not compatible with our schedule, please provide some more.</span>
              </div>
            {% endif %}
            <div class="mb-4">
              <label
                for="interviewTime"
                class="block text-MCC-primary-darker font-semibold"
                >Time</label>
                <input
                  type="time"
                  id="interviewTime"
                  name="interviewTime"
                  class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
                  required
                />
            </div>
            <div class="mb-4">
              <label
                for="interviewDate"
                class="block text-MCC-primary-darker font-semibold"
                >Date</label>
                <input
                  type="date"
                  id="interviewDate"
                  name="interviewDate"
                  class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
                  required
                />
            </div>
            <button
              type="submit"
              name="add_button"
              class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
              onclick="return confirmAdd()"
            >
              Submit
            </button>
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
<script>
  function confirmAdd() {
    return confirm("Are you sure?");
  }
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $('.availabilityForm').submit(function(e) {
      e.preventDefault();

      var form = $(this);

      $.ajax({
        type: 'POST',
        url: '{% url "add_availability" %}',
        data: form.serialize(),
        success: function(response) {
          console.log(response);

          showToast("Availability submitted successfully! That form will now reset. Feel free to share more :)");

          form.trigger('reset');
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    $('.acceptForm').submit(function(e) {
      e.preventDefault();

      var form = $(this);

      $(this).parent().parent().parent().remove();

      $.ajax({
        type: 'POST',
        url: '{% url "accept_offer" %}',
        data: form.serialize(),
        success: function(response) {
          console.log(response);

          showToast("Offer accepted successfully!");
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    $('.rejectForm').submit(function(e) {
      e.preventDefault();

      var form = $(this);

      $(this).parent().parent().parent().remove();

      $.ajax({
        type: 'POST',
        url: '{% url "reject_offer" %}',
        data: form.serialize(),
        success: function(response) {
          console.log(response);

          showToast("Offer rejected successfully!");
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  });
</script>

{% endblock %}
