{% extends 'base.html' %} {% block content %} {% load static %}

<div class="p-4 md:p-8">
  <div class="w-full">
    <h2 class="font-bold text-2xl text-white uppercase">Applicants</h2>
  </div>
  <div class="bg-white p-8 rounded shadow-md w-full">
    <div class="overflow-scroll lg:overflow-hidden">
      <table class="w-full border table-auto">
        <thead>
          <tr class="bg-MCC-secondary-tint">
            <th class="border border-MCC-primary p-2">Application ID</th>
            <th class="border border-MCC-primary p-2">Selected Position</th>
            <th class="border border-MCC-primary p-2">Experience</th>
            <th class="border border-MCC-primary p-2">Date Submitted</th>
            <th class="border border-MCC-primary p-2">Submitted by</th>
            <th class="border border-MCC-primary p-2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for applicant in applicants %}
          <tr class="bg-MCC-secondary-tintererer">
            <td class="border border-MCC-primary p-2">{{ applicant.id }}</td>
            <td class="border border-MCC-primary p-2">
              {{ applicant.selectedPositionID.name }}
            </td>
            <td class="border border-MCC-primary p-2">
              {{ applicant.experience }}
            </td>
            <td class="border border-MCC-primary p-2">
              {{ applicant.dateSubmitted }}
            </td>
            <td class="border border-MCC-primary p-2">
              <span>Student ID: {{ applicant.studentID.studentID }}</span>
              <br>
              <span>Name: {{ applicant.studentID.firstName }} {{ applicant.studentID.lastName }}</span>
              <br>
              <span>Phone number: {{ applicant.studentID.phoneNumber }}</span>
              <br>
              <span>Email: {{ applicant.studentID.email }}</span>
            </td>
            <td class="border border-MCC-primary p-2 text-center items-center">
              {% if applicant.isCandidate %}
                <span>Already a candidate for the selected position!</span>
              {% else %}
                <form method="POST" action="{% url 'add_candidate' %}">
                  {% csrf_token %}
                  <input
                    type="hidden"
                    name="ID"
                    value="{{ applicant.studentID.id }}"
                  />
                  <input
                    type="hidden"
                    name="submissionID"
                    value="{{ applicant.id }}"
                  />
                  <button
                    class="bg-MCC-secondary-tint rounded text-black shadow-xl p-4"
                    type="submit"
                    onclick="return confirmDelete()"
                  >
                    Add Candidate
                  </button>
                </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
