{% extends 'base.html' %} {% block content %} {% load static %}

<div class="flex sm:w-full justify-center p-4">
  <div class="bg-white p-8 rounded shadow-md w-full md:w-1/2">
    <h2 class="text-center font-bold">Welcome to the MCC system!</h2>
    <div class="flex min-h-[50px] text-center">
      <a
        href="{% url 'student-hub' %}"
        class="w-1/2 bg-MCC-secondary-tint p-4 m-2 shadow-md rounded-lg flex items-center justify-center"
      >
        Student Hub
      </a>
      <a
        href="{% url 'admin-hub' %}"
        class="w-1/2 bg-MCC-secondary-tint p-4 m-2 shadow-md rounded-lg flex items-center justify-center"
      >
        Admin Hub
      </a>
    </div>
  </div>
</div>

{% endblock %}
