{% extends 'base.html' %} {% block content %} {% load static %}

<div class="p-4 md:p-8">
  <div class="w-full">
    <h2 class="font-bold text-2xl text-white uppercase">Interviews</h2>
  </div>
  <div class="bg-white p-8 rounded shadow-md w-full">
    <div class="overflow-scroll lg:overflow-hidden">
      <table class="w-full border table-auto">
        <thead>
          <tr class="bg-MCC-secondary-tint">
            <th class="border border-MCC-primary p-2">Position</th>
            <th class="border border-MCC-primary p-2">Date & Time</th>
            <th class="border border-MCC-primary p-2">Location</th>
            <th class="border border-MCC-primary p-2">Candidate</th>
            <th class="border border-MCC-primary p-2">Feedback</th>
            <th class="border border-MCC-primary p-2">Status</th>
            <th class="border border-MCC-primary p-2">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for interview in interviews %}
          <tr class="bg-MCC-secondary-tintererer">
            <td class="border border-MCC-primary p-2">{{ interview.candidateID.submissionID.selectedPositionID.name }}</td>
            <td class="border border-MCC-primary p-2">{{ interview.dateTime }}</td>
            <td class="border border-MCC-primary p-2">{{ interview.location}} </td>
            <td class="border border-MCC-primary p-2">
              <span>Student ID: {{ interview.candidateID.studentID }}</span>
              <br>
              <span>Name: {{ interview.candidateID.firstName }} {{ interview.candidateID.lastName }}</span>
              <br>
              <span>Phone number: {{ interview.candidateID.phoneNumber }}</span>
              <br>
              <span>Email: {{ interview.candidateID.email }}</span>
            </td>
            <td class="border border-MCC-primary p-2">{{ interview.feedback }}</td>
            <td class="border border-MCC-primary p-2">{{ interview.status }}</td>
            <td class="border border-MCC-primary p-2">
              <form method="POST" action="{% url 'cancel_interview' %}">
                {% csrf_token %}
                <input
                  type="hidden"
                  name="ID"
                  value="{{ interview.candidateID.id }}"
                />
                <button
                  class="bg-MCC-secondary-tint rounded text-black shadow-xl p-4"
                  type="submit"
                  onclick="return confirmCancel()"
                >
                  Cancel Interview
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function confirmCancel() {
    return confirm("Are you sure?");
  }
</script>
{% endblock %}
