{% extends 'base.html' %} {% block content %} {% load static %}

<div class="p-4 md:p-8">
  {% if user.is_authenticated %}
  <div class="md:flex">
    <div class="w-full md:w-2/3 mr-8">
      <div class="w-full">
        <h2 class="font-bold text-2xl text-white uppercase mb-4">
          Manage Positions
        </h2>
      </div>
      <div class="bg-white p-4 md:p-8 rounded shadow-md">
        <table class="w-full border">
          <thead class="text-white">
            <tr class="bg-MCC-primary-darkererer">
              <th class="border p-2">ID</th>
              <th class="border p-2">Position Name</th>
              <th class="border p-2">Position Status</th>
              <th class="border p-2">Position Description</th>
              <th class="border p-2">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for position in positions %}
            <tr class="bg-MCC-secondary-tintererer">
              <td class="border p-2">{{ position.id }}</td>
              <td class="border p-2">{{ position.name }}</td>
              <td class="border p-2">{{ position.status }}</td>
              <td class="border p-2">{{ position.description }}</td>
              <td class="border p-2 flex">
                <span class="w-1/2 text-center">✏️</span>
                <span class="w-1/2 text-center">
                  <form method="POST" action="{% url 'delete_position' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ position.id }}" />
                    <button type="submit" onclick="return confirmDelete()">
                      🗑️
                    </button>
                  </form>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full mt-4 md:mt-0 md:w-1/3">
      <div class="w-full">
        <h2 class="font-bold text-2xl text-white uppercase mb-4">
          Add Position
        </h2>
      </div>
      <div class="bg-white p-8 rounded shadow-md">
        <form method="POST" action="{% url 'add_position' %}">
          {% csrf_token %}
          <div class="mb-4">
            <label
              for="positionName"
              class="block text-gray-600 text-sm font-medium mb-2"
              >Position Name</label
            >
            <input
              type="text"
              id="positionName"
              name="positionName"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
              placeholder="Enter position name"
              required
            />
          </div>

          <div class="mb-4">
            <label
              for="positionStatus"
              class="block text-gray-600 text-sm font-medium mb-2"
              >Position Status</label
            >
            <select
              id="positionStatus"
              name="positionStatus"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
              required
            >
              <option value="">Select an option</option>
              <option value="Vacant">Vacant</option>
              <option value="Open">Open</option>
              <option value="Shortlist">Shortlist</option>
              <option value="Interview">Interview</option>
              <option value="Offered">Offered</option>
              <option value="Filled">Filled</option>
            </select>
          </div>

          <div class="mb-4">
            <label
              for="positionDescription"
              class="block text-gray-600 text-sm font-medium mb-2"
              >Position Description</label
            >
            <textarea
              id="positionDescription"
              name="positionDescription"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
              placeholder="Enter position description"
              rows="4"
              required
            ></textarea>
          </div>

          <button
            type="submit"
            class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
            onclick="return confirmAdd()"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmAdd() {
    return confirm("Are you sure?");
  }

  function confirmDelete() {
    return confirm("Are you sure?");
  }
</script>
{% else %}
<span>You must be logged in to view this page.</span>
{% endif %} {% endblock %}
