{% extends 'base.html' %} {% block content %} {% load static %}

<div class="p-4 md:p-8">
  {% if user.is_authenticated %}
  <div class="flex justify-end">
  {% if edit_position %}

  {% else %}
    <button id="addPositionBtn" class="bg-MCC-secondary-tinter font-bold text-black p-4 rounded shadow-xl hover:bg-MCC-secondary-tint hover:text-black">Add Position</button>
  {% endif %}
  </div>
  <div class="lg:flex">
    {% if edit_position %}
      <div id="managePositionsContainer" class="w-full lg:2/3 mr-8">
    {% else %}
      <div id="managePositionsContainer" class="w-full">
    {% endif %}
      <div class="w-full">
        <h2 class="font-bold text-2xl text-white uppercase">
          Manage Positions
        </h2>
      </div>
      <div class="bg-white p-4 md:p-8 rounded shadow-md overflow-x-scroll md:overflow-hidden">
        <table class="w-full border ">
          <thead>
            <tr class="bg-MCC-secondary-tint">
              <th class="border border-MCC-primary p-2 ">ID</th>
              <th class="border border-MCC-primary p-2 min-w-[200px]">Position Name</th>
              <th class="border border-MCC-primary p-2 min-w-[200px]">Position Description</th>
              <th class="border border-MCC-primary p-2">Position Status</th>
              <th class="border border-MCC-primary p-2">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for position in positions %}
            <tr class="bg-MCC-secondary-tintererer">
              <td class="text-center border border-MCC-primary p-2">{{ position.id }}</td>
              <td class="text-center border border-MCC-primary p-2 min-w-[200px]">{{ position.name }}</td>
              <td class="text-center border border-MCC-primary p-2 min-w-[200px]">{{ position.description }}</td>
              <td class="text-center border border-MCC-primary p-2">{{ position.status }}</td>
              <td class="text-center border border-MCC-primary p-2">
                <div class="flex">
                  <span class="w-1/2 text-center">
                    <form method="POST" action="{% url 'edit_position' %}">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ position.id }}" />
                      <button type="submit">
                        ✏️
                      </button>
                    </form>
                  </span>
                  <span class="w-1/2 text-center">
                    <form method="POST" action="{% url 'delete_position' %}">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ position.id }}" />
                      <button type="submit" onclick="return confirmDelete()">
                        🗑️
                      </button>
                    </form>
                  </span>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if edit_position %}
      <div class="w-full mt-4 lg:mt-0 lg:w-1/3">
    {% else %}
      <div id="addPositionsContainer" class="w-full mt-4 lg:mt-0 lg:w-1/3 hidden">
    {% endif %}
      <div class="w-full">
        {% if edit_position %}
        <h2 class="font-bold text-2xl text-white uppercase">Update Position</h2>
        {% else %}
        <h2 class="font-bold text-2xl text-white uppercase">Add Position</h2>
        {% endif %}
      </div>
      <div class="bg-white p-8 rounded shadow-md">
        {% if edit_position %}
        <form method="POST" action="{% url 'update_position' %}">
          <input type="hidden" name="id" value="{{ position.id }}" />
        {% else %}
        <form method="POST" action="{% url 'add_position' %}">
        {% endif %}
          {% csrf_token %}
          <div class="mb-4">
            <label
              for="positionName"
              class="block text-MCC-primary-darker font-semibold"
              >Position Name</label
            >
            {% if edit_position %}
            <input
              type="text"
              id="positionName"
              name="positionName"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              placeholder="Enter Position Name"
              value="{{ position.name }}"
              required
            />
            {% else %}
            <input
              type="text"
              id="positionName"
              name="positionName"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              placeholder="Enter Position Name"
              required
            />
            {% endif %}
          </div>

          <div class="mb-4">
            <label
              for="positionDescription"
              class="block text-MCC-primary-darker font-semibold"
              >Position Description</label
            >
            {% if edit_position %}
            <textarea
              id="positionDescription"
              name="positionDescription"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              placeholder="Enter Position Description"
              rows="4"
              required
            >{{ position.description }}</textarea>
            {% else %}
            <textarea
              id="positionDescription"
              name="positionDescription"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              placeholder="Enter Position Description"
              rows="4"
              required
            ></textarea>
            {% endif %}
          </div>

          <div class="mb-4">
            <label
              for="positionStatus"
              class="block text-MCC-primary-darker font-semibold"
              >Position Status</label
            >
            {% if edit_position %}
            <select
              id="positionStatus"
              name="positionStatus"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              value="{{ position.status }}"
              required
            >
              <option value="">Select An Option</option>
              <option value="Vacant" {% if position.status == "Vacant" %}selected{% endif %}>Vacant</option>
              <option value="Open" {% if position.status == "Open" %}selected{% endif %}>Open</option>
              <option value="Shortlist" {% if position.status == "Shortlist" %}selected{% endif %}>Shortlist</option>
              <option value="Interview" {% if position.status == "Interview" %}selected{% endif %}>Interview</option>
              <option value="Offered" {% if position.status == "Offered" %}selected{% endif %}>Offered</option>
              <option value="Filled" {% if position.status == "Filled" %}selected{% endif %}>Filled</option>
            </select>
            {% else %}
            <select
              id="positionStatus"
              name="positionStatus"
              class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-MCC-primary-darker"
              required
            >
              <option value="">Select an option</option>
              <option value="Vacant">Vacant</option>
              <option value="Open">Open</option>
              <option value="Shortlist">Shortlist</option>
              <option value="Interview">Interview</option>
              <option value="Offered">Offered</option>
              <option value="Filled">Filled</option>
            </select>
            {% endif %}
          </div>
          <div class="text-center">
            {% if edit_position %}
            <button
              type="submit"
              name="update_button"
              class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
              onclick="return confirmEdit()"
            >
              Update
            </button>
            <button
              type="submit"
              name="cancel_button"
              class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
              onclick="window.history.back();"
            >
              Cancel
            </button>
            {% else %}
            <button
              type="submit"
              name="add_button"
              class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
              onclick="return confirmAdd()"
            >
              Submit
            </button>
            <button
              type="submit"
              name="cancel_button"
              class="bg-MCC-primary-darker text-white px-4 py-2 rounded-md hover:bg-MCC-primary-darkererer"
              onclick="refreshPage(event)"
            >
              Cancel
            </button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const addPositionBtn = document.getElementById('addPositionBtn');
  const managePositionsContainer = document.getElementById('managePositionsContainer');
  const addPositionsContainer = document.getElementById('addPositionsContainer');

  addPositionBtn.addEventListener("click", () => {
    showToast("Record is being filled!");
    addPositionBtn.classList.add("hidden");
    managePositionsContainer.classList.add("lg:w-2/3","mr-8");
    addPositionsContainer.classList.remove("hidden");
  });

  function confirmAdd() {
    return confirm("Are you sure?");
  }

  function confirmEdit() {
    return confirm("Are you sure?");
  }

  function confirmDelete() {
    return confirm("Are you sure?");
  }

  function refreshPage(event) {
    event.preventDefault();

    var userConfirmed = confirm("Are you sure?");
    if (userConfirmed) {
      showToast("Record was not added!");
      location.reload();
    }
  }
</script>
{% else %}
<span>You must be logged in to view this page.</span>
{% endif %} {% endblock %}
